body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: solid 1px #ccc;
    border-radius: 20px;
    position: absolute;
    top: 100px;
    max-width: 500px;
}

form{
    margin-top: 20px;
    margin-bottom: 20px;
}

#letter, #capital, #number, #length{
    display: block;
    margin-top: 10px;
}


#messagePass{
    display: none;
}

.invalid{
    color: red;
}

.valid{
    color: green;
}

.invalid::before{
    content: "\2718";
    margin-right: 5px;

}

.valid::before{
    content: "\2713";
    margin-right: 5px;
}